<div class="contentBox">
    <include file="Goods/_ueditor"/>
    <form method="post" enctype="multipart/form-data"></form>
    <div id="editor"><textarea id="editor_id1" name="describes" style="width: 100%;min-height:300px;">{$news.describes}</textarea></div>
</div>
<script>
$(function(){
    var editorHtml = $('#editor').html();
    $('#editor').remove();
    var tip = ['1.多关键词要用英文逗号“,”隔开，例如“FC fiber pigtail, FC/UPC pigtail, FC fiber optical pigtail”','2.图片的上传尺寸：340*150（像素）','3.产品若为白色的相似色，建议加上投影凸显轮廓'];       //注意事项
    var $selected = '<volist name="classList" id="v"><option value="{$v.id}" <eq name="v.id" value="$cid">selected</eq>>{$v.name}</option></volist>';                   //分类选择盒子
    var $preview = "<?php echo $news['thumb'] ?>";
    var $photoPath = webUrl()+"public/Uploads/news/"+$preview;
    tableHeader('编辑新闻','编辑');              //添加头部
    tdOdd(1);                                   //分类选择的分类框架
    $('#classList').append($selected);          //拼接分类选择
    tableTr(2).after($trTd(6));              //拼接表格框架
    tableTr(3).append(input('标题*','text','title',"<?php echo $news['title'] ?>")).append(input('编辑时间','text','time',"<?php echo $news['time'] ?>"));
    tableTr(4).append(textarea('介绍','introduce',"<?php echo $news['introduce'] ?>")).append(textarea('关键词','keyword',"<?php echo $news['keyword'] ?>"));
    tableTr(5).append(existSelect('上架','on_sale',"<?php echo $news['on_sale'] ?>")).find('td:last-child').attr('colspan','3');
    tableTr(6).append(existPhoto('图片',$preview,"{:U('News/delPhoto',array('id'=>$id,'cid'=>$cid))}",$photoPath)).append(input('图片上传','file','thumb'));
    tableTr(6).find('input').addClass('inputNone');             //给文件上传按钮添加样式
    tableTr(7).append('<td>说明</td><td colspan="3">'+editorHtml+'</td>');
    tableTr(8).append(notice(tip));                             //添加注意事项
    selectTag(3,0);           //左侧导航  
});
</script>



